vendor
node_modules
.git
.github
storage/framework/cache/data
storage/logs
storage/framework/testing
storage/
public/storage
.env
docker-compose.override.yml
tests/
tools/
docs/
*.log
.DS_Store
.vscode/
.idea/
